<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Животные</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header th:insert="commonBlocks/header :: header" class="sticky-top"></header>
    <section id="animal-list">
        <div class="container">
            <div class="row border-bottom border-top">
                <div class="filters d-flex justify-content-start">
                    <div id="sort" class="d-inline dropdown">
                        <div class="btn dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Сортировка
                        </div>
                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="/breed-sort">Порода: в алфавитном порядке</a></li>
                            <li><a class="dropdown-item" href="/age-sort-asc">Возраст: по возрастанию</a></li>
                            <li><a class="dropdown-item" href="/age-sort-desc">Возраст: по убыванию</a></li>
                            <li><a class="dropdown-item" href="/size-sort-asc">Размер: по возрастанию</a></li>
                            <li><a class="dropdown-item" href="/size-sort-desc">Размер: по убыванию</a></li>
                        </ul>
                    </div>
                    <div id="filter" class="d-inline dropdown">
                        <div class="btn dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Фильтр
                        </div>
                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Фильтр1</a></li>
                            <li><a class="dropdown-item" href="#">Фильтр2</a></li>
                            <li><a class="dropdown-item" href="#">Фильтр3</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row" style="margin-top: 20px;">
                <div th:each="element : ${pets}" class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="pet-card my-2" style="width: 18rem;">
                        <img src="/img/pets/dog1.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${element.name}"></h5>
                            <h6 class="card-info-age text-muted" th:text="${element.typeOfPet}"></h6>
                            <h6 class="card-info-age text-muted" th:text="'Возраст: '+${element.age}+' мес'"></h6>
                            <h6 class="card-info-gender text-muted" th:text="'Пол: '+${element.gender}"></h6>
                            <p class="card-text" th:text="${element.description}"></p>
                            <a th:href="'/pet/'+${element.id}" class="btn btn-warning">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>